body {
  font-family: 'Karla', sans-serif;
  /*margin-bottom: 50px;*/
}

  /*Background Image*/

.clothes-image {
  background-image: url(../img/image1.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 100vh;
}

.clothes-image:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #ffffff 0%, #0000cd 40%);
  opacity: .6;
}

  /*The First Header*/

.first-section {
  color: white;
  position: relative;
  z-index: 1;
}

.first-section .head {
  padding-left: 68px;
  margin-top: 294px;
  z-index: 20;
}

.first-section .head .row {
  margin-bottom: 24px;
}

.first-section .head .head-message {
  font-size: 48px;
  line-height: 48px;
}

.first-section .head .sub-message {
  font-size: 14px;
  line-height: 20px;
  margin-left: -5px;
}

.first-section .head .our-buttons {
  color: white;
  position: absolute;
  z-index: 1;
}

.first-section .head .our-button {
  display: inline-block;
  width: 180px;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  text-decoration: none;
}

.first-section .head .our-button:hover {
  background-color: #fff;
  color: #000;
}

  /*Arrow*/

.arrow-down {
  position: relative;
  /*position: absolute;*/
  top: 75px;
  left: 550px;
  z-index: 1; 
  text-decoration: none; 
}

a.arrow {
  color: white;
  font-size: 40px;
  position: relative;
  top: 0;
  text-decoration: none;
}

a.arrow:hover {
  top: 10px;
  color: white;
  text-decoration: none;
}

  /*The NavBar*/

nav {
  width: 100%;
  height: 50px;
  border-radius: 0;
  margin-bottom: 0;
  bottom: 0;
  overflow: hidden;
}

.navbar-custom {
    -webkit-box-shadow: 0px 2px 8px #999;
    -moz-box-shadow:    0px 2px 8px #999;
    box-shadow:         0px 2px 8px #999;
    z-index:999;
}

.navbar-brand {
  color: #777;
  position: relative;
  right: 40px;
}

#icon-bar {
  display: inline-block;
  width: 20px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 30px;
}

#icon-bar span {
  position: relative;
  height: 2px;
  background-color: #888;
  display: block;
  margin-top: 4px;
}

.navbar.navbar-fixed {
  top: 0;
  position: fixed;
}

  /*The Second Header and Image*/

#second-header {
  color: #777;
}

.image2 {
  width: 100%;
  margin-top: 40px;
  max-width: 800px;
  position: absolute;
  text-align: center;
  left: 250px;
}

.line-1 {
  text-align: center;
  position: absolute;
  top: 900px;
  left: 230px;
}
.line-2 {
  position: absolute;
  bottom: -370px;
  left: 950px;
}

 .footer {
  text-align: center;
  line-height: 20px;
  min-height: 270px;
  margin-top: 550px;
 }

 .footer a {
  color: #103b58;
 }

.footer h1 {
  font-size: 18px;
}

.footer ul.footer-links {
  list-style: none;
  padding-left: 0;
}

.footer ul.footer-links li {
  font-size: 14px;
}

